.order {
  padding: 32px 0;
  margin: auto;

  &__container {
    max-width: 320px;
    border-radius: 16px;
    border: 1px solid var(--form);
    padding: 24px 16px;
    @media (min-width: 580px){
      max-width: 580px;
    }
  }

  &__title {
    color: #1C1C1C;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }

  &__price {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 400;
    margin-top: 8px;
  }
  &__number {
    color: #1C1C1C;
    font-size: 12px;
    font-weight: 400;
    margin-top: 8px;
  }
  &__characteristics-table {
    width: 100%;
    margin-top: 24px;
  }

  .table__title {
    color: #1C1C1C;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
  }

  .table__row {
    margin-top: 8px;
  }

  .table__field {
    color: #969EAE;
    font-size: 12px;
    font-weight: 400;
    white-space: nowrap;
  }

  .table__value {
    color: #1C1C1C;
    text-align: right;
    font-size: 12px;
    font-weight: 400;
 }

  &__button {
    margin-top: 24px;
    box-sizing: border-box;
    &-btn {
      border-radius: 32px;
      border: 1px solid var(--violet, #780096);
      background: var(--violet, #780096);
      color: var(--btnText, #FFF);
      text-align: center;
      font-size: 12px;
      font-weight: 400;
      line-height: 120%;
      display: flex;
      max-width: 288px;
      height: 38px;
      padding: 12px 24px;
      justify-content: center;
      align-items: center;
      &:hover, &:focus-visible{
        background: #9200B7;
      }
      &:active{
        background-color: var(--violet);
        border: 1px solid #C0F;
     }
    }
  }
}